workflow.json
{
  "name": "producao aula 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{  $json.message. text }}",
        "options": {
          "systemMessage": "Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "761256c6-f32e-494b-9ace-69f991578bc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "cd7ef26f-7719-4ab4-8333-31485f704efd",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "NwvMip7NfUM9G5Kn",
          "name": "Cohere account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        160,
        208
      ],
      "id": "07ba225a-0e77-40df-9533-a64745d21af3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre políticas de RH férias horários e rotinas da empresa  Chocolatech",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        416,
        176
      ],
      "id": "5720e6f3-073f-4b2d-8176-1410b52b0e32",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "f221fc76-49c3-46dc-8ae1-971283fa583a",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "NwvMip7NfUM9G5Kn",
          "name": "Cohere account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Sempre use o formato %nome% (com % no inicio e no fim para busca parcial.\nExemplo: \n%João Silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        288,
        208
      ],
      "id": "e007383d-4a4f-4ec4-b9a5-a748c7513425",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "ijGfKPqCVWOOLGC1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2bc3afe0-c60e-43f8-a71b-6281f0508980",
      "name": "Telegram Trigger",
      "webhookId": "c9eb2b48-6d47-4da1-8d26-b7baea7e27e0",
      "credentials": {
        "telegramApi": {
          "id": "uhNYWF9cG0h5uxPh",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "87e92c81-367a-4b74-9753-1d3178b23641",
      "name": "Send a text message",
      "webhookId": "bebfae1f-eb5e-47d4-bf23-cda9ce09a114",
      "credentials": {
        "telegramApi": {
          "id": "uhNYWF9cG0h5uxPh",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6eb00658-8f2b-4708-9a2a-98439d508ab8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26fb82d9b43b730b485db37ba11af42702e820522f198bcfe161b0cef7afe4fd"
  },
  "nodeGroups": [],
  "id": "7jJfHPmqY0bXKSPS",
  "tags": []
}
